# Compiled class files
*.class

# Build directories
/skolard/app/build/
/out/
/bin/

# Gradle files
/.gradle/
skolard/.gradle/
**/build/


# VSCode settings
.vscode/

# OS junk
.DS_Store

# Logs
*.log

# Optional: IntelliJ/other IDEs
.idea/
*.iml

test.db
prod.db